@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F1E5D9;
}

html {
    font-size: 10px;
    font-family: 'DM Sans', sans-serif;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-outer {
    width: 100%;
    max-width: 576px;
    margin: 0 auto;
}

.container-inner {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
}

/* Header */
section#head-note {
    padding: 1rem 0;
    background-color: var(--primary-color);
}

section#head-note p {
    font-size: 2rem;
}

section#head-note .headnote-free-shipping {
    font-weight: 700;
}
